@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.wrapper {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.page-name {
    display: block;
    width: available;
    font-size: 20px;
    margin-bottom: 35px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: indianred;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-right: 20px;
}

.user-profile-title {
    font-size: 18px;
}

.user-profile-profile {
    font-size: 16px;
    display: flex;
    background-color: #2d3748;
}

.user-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-left: 20px;
}

.user-games-title {
    font-size: 18px;
}

.user-games-games {
    font-size: 16px;
    display: flex;
    background-color: #2d3748;
}
